<span class="icon-placeholder loadingIconCls" *ngIf="loadingFlag"></span>
<div class="displayPnlCls" [ngClass]="{'loadingPnlCls':loadingFlag}">
  <div class="diaplaySectionCls" [ngClass]="{'animateRight':i%2==0,'animateLeft':i%2!=0}" *ngFor="let obj of dataArr; let i=index">
    <div class="imgPnlCls">
      <a class="routeLinkCls" routerLink="/SingleProductView/{{obj.id}}">
        <img src="assets/images/200X200.png" >
      </a>
    </div>
    <div class="productNameCls">{{obj.attributes.name}}</div>
    <div class="productPriceCls">{{'$'+(obj.attributes.price/100).toFixed(2)}}</div>
    <div class="reviewStarsDisCls">
        <span class="icon-placeholder starDisabledCls"></span>
        <span class="icon-placeholder starDisabledCls"></span>
        <span class="icon-placeholder starDisabledCls"></span>
        <span class="icon-placeholder starDisabledCls"></span>
        <span class="icon-placeholder starDisabledCls"></span>
      </div>
    <div class="reviewStarsCovCls">
      <span class="icon-placeholder starCoveredCls"></span>
      <span class="icon-placeholder starCoveredCls"></span>
      <span class="icon-placeholder starCoveredCls"></span>
      <span class="icon-placeholder starCoveredCls"></span>
      <span class="icon-placeholder starCoveredCls"></span>
    </div>
  </div>
  <div class="diaplaySectionNoDataCls" *ngIf="!dataArr || dataArr.length==0">
    No products to display.
  </div>
</div>
