<div class="sepBodyCls sepSingleProductViewCls">
  <div class="regionLeft" (mousemove) ="zoomEvent($event);" (mouseleave)="resetZoom();">
    <img src="../../../assets/images/900X900.png" class="imgPosCls"  [ngStyle]="zoomPos">
  </div>
  <div class="regionRight">
    <div class="productNameCls lblpadCls">{{getProductViewData.attributes.name}}</div>
    <div class="productDescCls lblpadCls">{{getProductViewData.attributes.name}} - {{getProductViewData.attributes.category}}</div>
    <div class="reviewsPnlCls lblpadCls">
        <div class="reviewStarsDisCls">
            <span class="icon-placeholder starDisabledCls"></span>
            <span class="icon-placeholder starDisabledCls"></span>
            <span class="icon-placeholder starDisabledCls"></span>
            <span class="icon-placeholder starDisabledCls"></span>
            <span class="icon-placeholder starDisabledCls"></span>
          </div>
        <div class="reviewStarsCovCls">
          <span class="icon-placeholder starCoveredCls"></span>
          <span class="icon-placeholder starCoveredCls"></span>
          <span class="icon-placeholder starCoveredCls"></span>
          <span class="icon-placeholder starCoveredCls"></span>
          <span class="icon-placeholder starCoveredCls"></span>
        </div>
        <span class="reviewsLbl">12 Reviews</span>
    </div>
    <div class="pricePnlCls">{{'$'+(getProductViewData.attributes.price/100).toFixed(2)}}</div>
  </div>
</div>